<%= form_for([@movie, @rating]) do |f| %>
  <div class="form-group">
    <%= f.label :'Dodaj ocenę' %>
    <%= f.number_field :rating, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Dodaj komentarz' %>
    <%= f.text_field :comment, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit 'Zapisz', class: "btn btn-primary"%>
  </div>
<% end %>
